@import url(normalize.css);

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color:#373737;
  background: white;
  font-size: 18px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
}

h1 {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  line-height: 1.2;
}

h3 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 24px;
  line-height: 1.3;
}

h4 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 21px;
}

h5 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 18px;
}

h6 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 16px;
}

p {
  font-family: "Roboto Slab",
  font-size: 18px;
  margin: 0px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted #666;
  color: inherit;
  text-shadow: none;
}

a:hover, a:focus {border-bottom: 1px solid #0090ff;}


em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  width: 100%;
  color: #fff;
  background-color: #222;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;


  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre {
  padding: 10px 20px;
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin: 0 0 20px 2px;
  padding-left: 20px;
  border-left: 3px solid #bbb;
  font-style: italic;
}

ul, ol, dl {
  margin: 0 0 15px 0;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 0;
  padding-left: 0;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  padding: 10px;
  background: #222;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #222;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

/* buttons */

.float-right {
    float: right;
}


.btn {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    color: #2196f3;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
    background-color: #f7f7f7;
    border-width: 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    appearance: none
}

.badge {
  margin: 0px;
  padding: 0px;
  float: right;
}

.download_image {
    margin: 0px;
    padding: 0px;
}

.btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.25)
}

.btn:focus:hover,
.btn.selected:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.25)
}

.btn:hover,
.btn.zeroclipboard-is-hover {
    color: #6a4aec
}

.btn:hover,
.btn:active,
.btn.zeroclipboard-is-hover,
.btn.zeroclipboard-is-active {
    text-decoration: none;
    background-color: #f4f4f4
}

.btn:active,
.btn.selected,
.btn.zeroclipboard-is-active {
    background-color: #efefef;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15)
}

.btn.selected:hover {
    background-color: #cfcfcf
}

.btn:disabled,
.btn:disabled:hover,
.btn.disabled,
.btn.disabled:hover {
    color: rgba(102, 102, 102, 0.5);
    cursor: default;
    background-color: rgba(229, 229, 229, 0.5);
    background-image: none;
    box-shadow: none
}

.btn-outline {
    color: #2196f3;
    background: transparent;
    box-shadow: inset 0 0 0 2px #e6e1e8
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline.zeroclipboard-is-hover,
.btn-outline.zeroclipboard-is-active {
    color: #6341eb;
    text-decoration: none;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #e6e1e8
}

.btn-outline:focus {
    text-decoration: none;
    outline: none;
    box-shadow: inset 0 0 0 2px #5c5962, 0 0 0 3px rgba(0, 0, 255, 0.25)
}

.btn-outline:focus:hover,
.btn-outline.selected:focus {
    box-shadow: inset 0 0 0 2px #5c5962
}

.btn-primary {
    color: #fff;
    background-color: #4caf50;
    background-image: linear-gradient(#359839, #4caf50);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12)
}

.btn-primary:hover,
.btn-primary.zeroclipboard-is-hover {
    color: #fff;
    background-color: #4caf50;
    background-image: linear-gradient(#4caf50, #4caf50)
}

.btn-primary:active,
.btn-primary.selected,
.btn-primary.zeroclipboard-is-active {
    background-color: #4caf50;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15)
}

.btn-primary.selected:hover {
    background-color: #472cb2
}


/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
  padding: 0 10px;
}

.inner {
  position: relative;
  max-width: 960px;
  padding: 20px 10px;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  margin-top:20px;
  top:0;
  right: 0px;
  z-index: 10;
  padding: 20px 0px 20px 0px;
  border-radius: 30px;
  color: #fff;
  background-size: 25px;
  font-weight: 700;
  border: none;
}


header {
  color: #f2f2f2;
}

#header_wrap {
  background: white;
}

#header_wrap .inner {
  padding: 60px 10px 0px 0px;
}

#project_title {
  margin: 0;
  color: #000;
  font-size: 54px;
  font-weight: 700;
}

#project_tagline {
  color: #212121;
  font-size: 36px;
  font-weight: 300;
  background: none;
}

.downloads {
  display: block;
  color: #212121;
  position: relative;
  height: 70px;
  background-size: 25px 20px;
}

.downloads a {
  margin-right: 20px;
}
.downloads a:hover {
  text-decoration: underline solid #fff;
}

#main_content {
  padding-top: 40px;
}

#main_content.inner {
  background-color: #fff;
  padding: 70px 100px;
  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 3px rgb(123, 123, 123);
  -moz-box-shadow: 0 0 3px rgb(123, 123, 123);
  -o-box-shadow: 0 0 3px rgb(123, 123, 123);
  -ms-box-shadow: 0 0 3px rgb(123, 123, 123);
}

#footer_wrap {
  background: #212121;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 992px) {
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 13px;
  }

  .downloads {
    display: none;
  }

  .outer {
    padding: 0;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #header_wrap .inner {
    padding: 60px 10px;
  }

  #main_content.inner {
    padding: 10px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
}
